@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(54, 54, 60);
  color: rgb(164, 164, 164);
}

.ql-toolbar.ql-snow {
  background: rgba(0, 0, 0, 0.04);

  border: 0px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.ql-container {
  background: transparent;
  min-height: max-content;
  border: 0px !important;
  border-top: 0px !important;
}

.ql-editor:focus {
  border-radius: 0.25rem;
  border: 1.5px solid #6419e6;
  box-shadow: 0px 0px 4px #6419e6;
}

.ql-editor {
  transition: 0.3s ease;
  border: 1.5px solid transparent;
}

.ql-bubble {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 0.5rem;
}

.ql-editor.ql-blank::before {
  font-size: 16px;
  color: #cacaca !important;
}
.ql-container p {
  font-size: 14px;
}

.ql-snow span,
button,
svg {
  color: #a5a5a5;
  stroke: #a5a5a5;
}

.ql-stroke {
  color: #a5a5a5;
  stroke: #a5a5a5 !important;
}
